@using StudentManagementV2.Api.ViewModels
@model AssignClassViewModel

@{
    ViewBag.Title = "CreateNewAssignClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Assign Class</h1>

<form class="d-flex flex-column" method="post" action="@Url.Action("SaveNewAssignClass", "AssignClass")" id="createClassForm">
    <div class="form-group">
        @*<label for="classID">Class ID</label>
        <input class="form-control" placeholder="Class ID" name="classId" id="classID"/>*@
        @Html.LabelFor(c => c.ClassId)
        @Html.TextBoxFor(c => c.ClassId, new { @class="form-control", @placeholder="Class Id" })
        @Html.ValidationMessageFor(c => c.ClassId, null, new { @class="text-danger", @id="mess-class-id" })
    </div>

    <div class="form-group">
        @*<label for="className">Class Name</label>
        <input class="form-control" placeholder="Class Name" name="className" id="className"/>*@
        @Html.LabelFor(c => c.ClassName)
        @Html.TextBoxFor(c => c.ClassName, new { @class="form-control", @placeholder="Class Name" })
        @Html.ValidationMessageFor(c => c.ClassName, null, new { @class="text-danger" })
    </div>

    <div class="form-group">
        @*<label for="deptID">Department ID</label>
        <input class="form-control" placeholder="Department ID" name="deptID" id="deptID"/>*@
        @Html.LabelFor(c => c.DeptId, "Department")
        @Html.DropDownListFor(c => c.DeptId, @ViewBag.DepartmentSelectList as List<SelectListItem>, "Select Department", new { @class="form-control"})
        @Html.ValidationMessageFor(c => c.DeptId, null, new { @class = "text-danger" })
    </div>
    
    <div class="d-flex justify-content-end">
        <button type="submit">Save</button>
    </div>
    
</form>

<script type="text/javascript">

        $("#createClassForm").submit(function (e) {

            e.preventDefault();

            // Validate form data on server
            $.ajax({
                url: "https://localhost:44369/api/AssignClass/validate-assign-class",
                method: "post",
                data: $("#createClassForm").serialize(),
                success: function(response) {

                    if (response.isSuccess) {
                        
                        $("#createClassForm").unbind('submit').submit();
                    
                    } else {

                        if (response.isClassExisted) {

                            $("#mess-class-id").empty();

                            $("#mess-class-id").html("Class already exist");
                    
                        }

                    }
                
                }
            
            })
        
        })
</script>
