<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentManagementV2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Student Management</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        
                        @if(User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("CreateNewSubjectRegister", "SubjectRegister")">Register Subject</a>
                            </li>
                        }

                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("ListAllDepartments", "Department")">Manage Departments</a>
                            </li>
                        }

                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("ListAllAssignClasses", "AssignClass")">Manage Classes</a>
                            </li>
                        }

                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("ListAllStudents", "Student")">Manage Students</a>
                            </li>
                        }
                        
                        @if(User.IsInRole("Student") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("ListAllSubjectRegisters", "SubjectRegister")">Manage Subject Registrations</a>
                            </li>
                        }
                           
                    </ul>
                </div>
                @if(this.User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-dark" href="@Url.Action("Logout", "Account")">Logout</a>    
                }
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2022 - StudentManagementV2 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @*<script src="~/lib/jquery-validation/dist/jquery.validate.js/jquery.validate.min.js"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/all.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
